.container{
    max-width: 900px;
    margin: auto;
}

.row{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.col-1{
    width: 8.3%;
}

.col-2{
    width: 16.6%;
}

.col-3{
    width: 24.9%;
}

.col-4{
    width: 33.3%;
}

.col-5{
    width: 41.6%;
}

.col-6{
    width: 49.9%;
}

.col-7{
    width: 58.3%;
}

.col-8{
    width: 66.6%;
}

.col-9{
    width: 74.9%;
}

.col-10{
    width: 83.3%;
}

.col-11{
    width: 91.6%;
}

.col-12{
    width: 100%;
}

.col-1, .col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    padding-right: 10px;
}

.img_row{
    width: 200px;;
}

@media (max-width: 900px){
    .col-1, .col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
        width: 100%;
    }

    .row{
        padding: 10px 5px;
    }
}
